# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Compressed files
*.zip
*.7z
*.rar

# Model files
*.pkl
*.joblib
*.h5

# Temporary files
temp/
tmp/
